@model IEnumerable<Resume2.Models.Education>

@{
    ViewData["Title"] = "Index";
    
}

<h2>Education</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["ResumeID"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Institution)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Institution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EducationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EducationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
