@model Resume2.Models.Resume

@{
    ViewData["Title"] = "My Resume";
}

<h4>Information</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.FirstLast)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.City)  @Html.DisplayFor(model => model.State)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
    </dl>
</div>

<h4>Experience</h4>

@foreach (var experience in Model.Experiences.OrderByDescending(y => y.StartDate))
{

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => experience.JobTitle) , @Html.DisplayFor(model => experience.Company) ( @Html.DisplayFor(model => experience.StartDate) to @Html.DisplayFor(model => experience.EndDate) )
            </dd>
            <dd>
                @Html.DisplayFor(model => experience.CompanyDesc)
            </dd>
            @foreach (var dutys in experience.Dutys)
            {
                <dd>
                    -  @Html.DisplayFor(model => dutys.Description)
                </dd>
            }
        </dl>
    </div>
}

<h4>Education</h4>
@foreach (var education in Model.Educations.OrderBy(y => y.StartDate))
{

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => education.Institution) , @Html.DisplayFor(model => education.City), @Html.DisplayFor(model => education.State)
            </dd>
            <dd>
                @Html.DisplayFor(model => education.Degree)
            </dd>
            <dd>
                @Html.DisplayFor(model => education.StartDate) to @Html.DisplayFor(model => education.EndDate)
            </dd>
        </dl>
    </div>
}

<h4>References</h4>
@foreach (var reference in Model.References.OrderBy(y => y.FirstLast))
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => reference.FirstLast) , @Html.DisplayFor(model => reference.Position) , @Html.DisplayFor(model => reference.Company)
            </dd>
        </dl>
    </div>
}
