@model Resume2.Models.Reference

@{
  ViewData["Title"] = "Delete";
  ViewData["resumeID"] = Model.ResumeID;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstLast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstLast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resume.FirstLast)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReferenceID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" asp-route-id="@ViewData["resumeID"]">Back to List</a>
    </form>
</div>
